pipeline/plIncrementalLoad.json
{
	"name": "plIncrementalLoad",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from stateprovince_source where ModifiedDate>'@{activity('Lookup_watermark').output.firstRow.watermarkvalue}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StateProvinceID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "StateProvinceID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "StateProvinceCode",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "StateProvinceCode",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IsOnlyStateProvinceFlag",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "IsOnlyStateProvinceFlag",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "nchar"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "nchar"
								}
							},
							{
								"source": {
									"name": "TerritoryID",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "TerritoryID",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable_Target",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select  watermarkvalue from watermarktable where tablename='StateProvince_source'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Stored procedure watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updateinfo]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Source",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-10-25T18:43:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}